@using JamUtility.Models
@using JamUtility.Services
@using JamUtility.Utilities
@inject IScaleLibrary ScaleLibrary

<div class="container">
    <div class="row shadow-sm mb-2 mt-2">
        @foreach (var note in allNotes)
        {
            if (note.Contains("#"))
            {
                <div class="col border p-0 text-center @(localSelectedNotes.Contains(note) ? "bg-info" : "bg-light")" @onclick="@(() => CallMethodParent(note))">@note</div>
            }
            else
            {
                <div class="col border p-0 text-center @(localSelectedNotes.Contains(note) ? "bg-info" : "bg-white")" @onclick="@(() => CallMethodParent(note))">@note</div>
            }
        }
    </div>
</div>



