@using JamUtility.Models
@using JamUtility.Services
@inject IScaleLibrary ScaleLibrary

<div class="container">
    <div class="row">
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("C") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("C"))">C</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("C#") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("C#"))">C#</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("D") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("D"))">D</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("D#") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("D#"))">D#</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("E") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("E"))">E</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("F") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("F"))">F</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("F#") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("F#"))">F#</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("G") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("G"))">G</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("G#") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("G#"))">G#</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("A") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("A"))">A</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("A#") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("A#"))">A#</div>
        <div class="col border p-0 text-center @(localSelectedNotes.Contains("B") ? "bg-info" : "")" @onclick="@(() => CallMethodParent("B"))">B</div>
    </div>
</div>



@code {
    [Parameter]
    public EventCallback<string> ParentMethod { get; set; }

    List<string> localSelectedNotes = new List<string>();

    protected override void OnInitialized()
    {
        localSelectedNotes = ScaleLibrary.GetSelectedNotes();
    }

    private void ToggleSelected(string note)
    {
        if (localSelectedNotes.Contains(note))
        {
            localSelectedNotes.Remove(note);
            ScaleLibrary.SetSelectedNotes(localSelectedNotes);
        }
        else
        {
            localSelectedNotes.Add(note);
            ScaleLibrary.SetSelectedNotes(localSelectedNotes);
        }
    }


    private async Task CallMethodParent(string clickedNote)
    {
        ToggleSelected(clickedNote);       
        if (ParentMethod.HasDelegate)
        {
            await ParentMethod.InvokeAsync();
        }
    }
}