@using JamUtility.Models

 <div class="col-md-6 d-flex justify-content-center flex-wrap">
    <div id="piano-keyboard">
        <div class="key key-natural" @onclick="@(() => CallMethodParent("C"))"></div>
        <div class="key key-sharp" @onclick="@(() => CallMethodParent("C#"))"></div>
        <div class="key key-natural" @onclick="@(() => CallMethodParent("D"))"></div>
        <div class="key key-sharp" @onclick="@(() => CallMethodParent("D#"))"></div>
        <div class="key key-natural" @onclick="@(() => CallMethodParent("E"))"></div>
        <div class="key key-natural" @onclick="@(() => CallMethodParent("F"))"></div>
        <div class="key key-sharp" @onclick="@(() => CallMethodParent("F#"))"></div>
        <div class="key key-natural" @onclick="@(() => CallMethodParent("G"))"></div>
        <div class="key key-sharp" @onclick="@(() => CallMethodParent("G#"))"></div>
        <div class="key key-natural" @onclick="@(() => CallMethodParent("A"))"></div>
        <div class="key key-sharp" @onclick="@(() => CallMethodParent("A#"))"></div>
        <div class="key key-natural" @onclick="@(() => CallMethodParent("B"))"></div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<string> ParentMethod { get; set; }

    private async Task CallMethodParent(string clickedNote)
    {
        if (ParentMethod.HasDelegate)
        {
            await ParentMethod.InvokeAsync(clickedNote);
        }
    }

}