@using JamUtility.Models

<div class="card w-auto border border-dark shadow-sm">
    <div class="card-header @(scale.Type) potato">
        <h5 class="card-title">@scale.Root @scale.Type</h5>
    </div>
  <div class="card-body">

    <h6 class="card-subtitle mb-2 text-muted">Notes and Chords:</h6>

        <p class="card-text">
            @foreach (var note in scale.Notes)
            {
                @(note + ", ")
            }
        </p>

        <p class="card-text">
            @foreach (var chord in scale.Chords)
            {
                @(chord + ", ")
            }
        </p>

  </div>

</div>

